@model IEnumerable<Presentation.Models.ViewModels.TicketViewModel>

@{
    ViewData["Title"] = "TicketHistory";
}

<h1>TicketHistory</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Row)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightdIdFK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cancelled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Row)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Column)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightdIdFK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cancelled)
            </td>
            
            @*<td>

            @if (User.Identity.IsAuthenticated)
            {
                if (User.Identity.Name == Model.OwnerEmail)
                {
            Html.ActionLink("Details |", "Details", new { id = Model.Id })
                    Html.ActionLink("Edit |", "Edit", new { id = Model.Id });
                }
                else if (User.Identity.Name == Model.OwnerEmail)
                {
                    Html.ActionLink("Details |", "Details", new { id = Model.Id })
                    Html.ActionLink("Delete |", "Delete", new { id = Model.Id });
                }

            }
            
            </td>*@
        </tr>
}
    </tbody>
</table>
